#!/bin/sh

set -x
export PATH="$PATH:/usr/sbin"

# disable vim mouse and ensure that full vim is the default
echo "let g:skip_defaults_vim = 1" >> /etc/vim/vimrc.local
update-alternatives --set vi /usr/bin/vim.nox

# stuff i don't ever care about
apt purge -y vim-tiny tasksel tasksel-data libusb-1.0-0 discover-data

# Setup shared mount
mkdir /shared 
echo "shared /shared 9p rw,relatime,access=client,trans=virtio 0 0" >> /etc/fstab

# ensure 9p is preloaded otherwise mount will fail at boot
for m in 9p 9pnet 9pnet_virtio ; do
    echo $m >> /etc/initramfs-tools/modules
done
/usr/sbin/update-initramfs -u

echo "\n*** GO AWAY ***\n" > /etc/motd
